{
  "presets": [
    [ "env", { "modules": false } ],
    "react",
    "stage-2",
    "flow"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-async-to-generator"
    // "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "comments": false
    }
  }
}
