@mixin background-cover {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@mixin card-shadows {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


/* animations */

@mixin fade-in($delay, $duration, $ease) {
  opacity: 0;
  animation-name: fadeIn;
  animation-timing-function: $ease;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin fade-in-right($delay, $duration) {
  opacity: 0;
  animation-name: fadeInRight;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

@mixin fade-in-right-pulse($delay, $duration) {
  opacity: 0;
  animation-name: fadeInRightPulse;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInRightPulse {
    from {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
    }
    50% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
    75% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}

@mixin fade-in-down($delay, $duration) {
  opacity: 0;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: both;
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -40%, 0);
    }
    75% {
      opacity: 0.4;
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}
